asgiref==3.12.1
bleach==6.4.0
Django==6.0.7
dj-database-url==3.0.1
gunicorn==26.0.0
django-jazzmin==3.0.5
markdown==3.10.3
pillow==12.3.0
psycopg[binary]==3.3.4
PyMySQL==1.2.0
python-decouple==3.8
sqlparse==0.5.5
tzdata==2026.3
webencodings==0.5.1
whitenoise==6.12.0
